<%= render 'helpers/cell_table',
           item_table_name: 'Станции',
           item_name: 'Название',
           item_table_colspan: 6,
           item_new_path_text: 'Добавить Станцию',
           item_new_path: new_station_path do %>

  <% @stations.each do |station| %>
    <tr>
      <td><%= station.name %></td>

      <td>
        <% if station.routes.any? %>
          <% station.routes.each do |route| %>
            <%= route.name %><br/>
          <% end %>

        <% else %>
          ------
        <% end %>
      </td>

      <td>
        <% if station.tickets.any? %>
          <% station.tickets.each do |ticket| %>
            Билет №<%= ticket.id %>:
            "<%= Station.find_by(id: ticket.station_first.to_i).name if Station.find_by(id: ticket.station_first.to_i) %>" -
            "<%= Station.find_by(id: ticket.station_last.to_i).name if Station.find_by(id: ticket.station_last.to_i) %>"
          <% end %>

        <% else %>
          ------
        <% end %>
      </td>

      <%= render 'helpers/tool_bar',
                 item: station,
                 item_edit: edit_station_path(station) %>
    </tr>
  <% end %>

<% end %>
