<h1>Настроить Поезд</h1>
<%= render 'form' %>
<%= form_with(model: @train, local: true) do |form| %>
  <%= render 'helpers/error_block', item: @train %>

  <div class="field">
    <%= form.label :route_id %>
    <%= form.select :route_id, Route.all.collect { |route| [ route.name, route.id ] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'К Поездам', trains_path %>
