<main>
  <!--
  <p>
    Приветствую!
    Наше маленькое приложение
    ничем вам не поможет, но здесь вы
    можете оформить билет на несуществующий поезд!
    <br/>
    <%#= Time.now.strftime("%d/%m/%Y %H:%M") %>
  </p>

  <p>
    Для начала выберите станцию отправления,
    а следом выберите станцию назначения.
  </p>

  <p>
    После выбора поезда, вагона, места, введите свой Ник, Анти-Спам Код и комментарий по желанию.
  </p>

  <p>
    И произойдет Магия! Вы займете место в нашем несуществующем поезде.
    Более того, в любой момент вы сможете посмотреть
    свои билеты и отменить тот или иной билет, освободив тем самым место для других!
  </p>
  -->

  <div class="tutu-grid">
    <%= render "components/index_layout", item_string: "carriage", notice: "", title: "Вагоны", items: @carriages %>
    <%= render "components/index_layout", item_string: "route", notice: "", title: "Пути", items: @routes %>
    <%= render "components/index_layout", item_string: "station", notice: "", title: "Станции", items: @stations %>
    <%= render "components/index_layout", item_string: "train", notice: "", title: "Поезда", items: @trains %>
    <%= render "components/index_layout", item_string: "ticket", notice: "", title: "Билеты", items: @tickets %>
    <%= render "components/index_layout", item_string: "service", notice: "", title: "Сервисы", items: @services %>
  </div>
</main>
