<main>
  <p>
    Приветствую!
    Наше маленькое приложение
    ничем вам не поможет, но здесь вы
    можете оформить билет на несуществующий поезд!
    <br/>
    <%= Time.now.strftime("%d/%m/%Y %H:%M") %>
  </p>

  <p>
    Для начала выберите станцию отправления,
    а следом выберите станцию назначения.
  </p>

  <p>
    После выбора поезда, вагона, места, введите свой Ник, Анти-Спам Код и комментарий по желанию.
  </p>

  <p>
    И произойдет Магия! Вы займете место в нашем несуществующем поезде.
    Более того, в любой момент вы сможете посмотреть
    свои билеты и отменить тот или иной билет, освободив тем самым место для других!
  </p>

  <ol style="text-align: left; font-size: 18px;">
    <li>before_validate - составлять имя Route из первой и последней станции.</li>
    <li>группировка по индексу для Stations в Route.</li>
    <li>валидации разного рода</li>
    <li>поиск по станциям -> поезда -> вагоны -> места -> оформить билет </li>
  </ol>

  <%= link_to "К Вагонам", carriages_path, class: "tutu-button" %>
  <%= link_to "К Путям", routes_path, class: "tutu-button" %>
  <%= link_to "К Сервисам", services_path, class: "tutu-button" %>
  <%= link_to "К Станциям", stations_path, class: "tutu-button" %>
  <%= link_to "К Поездам", trains_path, class: "tutu-button" %>
  <%= link_to "К Билетам", tickets_path, class: "tutu-button" %>
</main>
