<h1><%= form_naming("admin.stations.form.title", @station) %></h1>

<%= form_with model: [:admin, @station], local: true do |f| %>
  <%= render "components/error_block", item: @station %>

  <%= render "components/table", caption: get_caption("stations", "form") do %>
    <%= render "components/table_row" do %>
      <%= render "form_cells", f: f %>
    <% end %>
  <% end %>

  <%= render "components/buttons",
             f: f,
             form_button: form_naming("admin.stations.form.submit", @station) %>
<% end %>
