<h1><%= form_naming("tickets.form.title", @ticket) %></h1>

<%= form_with model: [@user, @ticket], local: true do |f| %>
  <%= render "components/error_block", item: @ticket %>

  <%= render "components/table", caption: get_caption("tickets", "form") do %>
    <div class="tutu-table__row tutu-table__row--body">
      <%= table_cell f.text_field(:name, class: "tutu-field") %>
      <%= table_cell f.text_field(:user_name, class: "tutu-field") %>
      <%= render "components/form_select",
                 form: f,
                 attribute: :train_id,
                 model: Train,
                 value: :number %>
      <%= render "components/form_select",
                 form: f,
                 attribute: :user_id,
                 model: User,
                 value: :name %>
      <%= render "components/form_select",
                 form: f,
                 attribute: :route_id,
                 model: Route,
                 value: :name %>
      <%= table_cell f.text_field(:comments, class: "tutu-field") %>
      <%= render "components/form_select",
                 form: f,
                 attribute: :station_first_id,
                 model: Station,
                 value: :name %>
      <%= render "components/form_select",
                 form: f,
                 attribute: :station_last_id,
                 model: Station,
                 value: :name %>
    </div>
  <% end %>

  <%= render "components/buttons",
             f: f,
             form_button: form_naming("tickets.form.submit", @ticket) %>
<% end %>