<%= form_with(model: @carriage, local: true) do |form| %>
  <%= render 'helpers/error_block', item: @carriage %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :carriage_type %>
    <%= form.select :carriage_type, {"плац": "плац", "куп": "куп"} %>
  </div>

  <div class="field">
    <%= form.label :seats %>
    <%= form.text_field :seats, style: 'width: 510px;' %>

    <%= render "seats_script" %>

    <%# (to_hash @carriage.seats).each do |seat, boolean| %>
      <%#= seat %>
      <%#= check_box seat, boolean, {checked: true, value: boolean}, true, false %>
    <%# end %>
  </div>

  <div class="field">
    <%= form.label :train_id %>
    <%= form.select :train_id, Train.all.collect { |train| [ train.number, train.id ] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
