<p id="notice"><%= notice %></p>

<h1><%= item_table_name %></h1>

<table>
  <thead>
    <tr>
      <th><%= item_name %></th>
      <th colspan="<%= item_table_colspan %>"></th>
    </tr>
  </thead>

  <tbody>
    <%= yield %>
  </tbody>
</table>

<br>

<%= link_to item_new_path_text, item_new_path %>

