<%= form_with(model: item, local: true) do |form| %>
  <%= render 'helpers/error_block', item: item %>

  <div class="field">
    <%= form.label item_name %>
    <%= form.text_field item_name %>
  </div>

  <%= yield %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
