<p id="notice"><%= notice %></p>

<p>
  <strong><%= item_name_text %></strong>
  <%= item_name %>
  <%= yield %>
</p>

<%= render 'helpers/tool_bar',
           item: item,
           item_edit: item_edit do %>
| <%= link_to item_path_name, item_path %>
| <%= link_to item_path_new_text, item_path_new %>
<% end %>

<hr />
<%= link_to 'На главную', welcome_index_path %>
