<h1><%= form_naming("admin.carriages.form.title", @carriage) %></h1>

<%= form_with model: [:admin, @train, @carriage], local: true do |f| %>
  <%= render "components/error_block", item: @carriage %>

  <%= render "components/table", caption: get_caption("carriages", "form") do %>
    <%= render "components/table_row" do %>
      <%= render "admin/carriages/form_cells", f: f %>
    <% end %>
  <% end %>

  <%= render "components/buttons",
             f: f,
             form_button: form_naming("admin.carriages.form.submit", @carriage) %>
<% end %>
