<div class="tutu-table__row tutu-table__row--body">
  <%#= table_cell link_to(route.name, route) %>
  <%= table_cell route.name %>

  <%= render "components/table_cell", value: route.stations do %>
    <% stations = route.stations.ordered %>

    <%= render "stations", stations: stations, route: route %>

    <%= form_for :ticket, url: "/users/#{current_user.id}/tickets", html: { id: "new_users_ticket" } do |f| %>
      <%= render "trains", f: f, trains: route.trains %>

      Имя пассажира:
      <%= f.text_field :user_name, required: true, value: current_user.name, class: "tutu-field" %>

      Комментарии:
      <%= f.text_field :comments, class: "tutu-field" %>

      <%= f.hidden_field :name, value: "#{stations.first.name} - #{stations.last.name}" %>
      <%= f.hidden_field :station_first_id, value: stations.first.id %>
      <%= f.hidden_field :station_last_id, value: stations.last.id %>
      <%= f.hidden_field :route_id, value: route.id %>

      <%= submit_tag "Купить Билет", class: "tutu-button" %>
    <% end %>
  <% end %>
</div>
