<h1><%= form_name %></h1>

<%= render 'routes/stations_position', model: model %>

<%= form_with model: model, local: true do |f| %>
  <%= render 'components/error_block', item: model %>

  <%= render 'components/table', caption: get_caption("routes", "form") do %>
    <div class="tutu-table__row tutu-table__row--body">
      <%= table_cell f.text_field(:name, class: "tutu-field") %>
      <%= render "components/form_checkbox_cell",
                 form: f,
                 main_method: :train_ids,
                 collection: get_all_trains,
                 value_method: :id,
                 text_method: :number %>
      <%= render "components/form_checkbox_cell",
                 form: f,
                 main_method: :station_ids,
                 collection: get_all_stations("ordered"),
                 value_method: :id,
                 text_method: :name %>
    </div>
  <% end %>

  <%= render 'components/error_block', f: f, form_button: form_button %>
<% end %>
