<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @route.name %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>

<hr />
<%= link_to 'На главную', welcome_index_path %>
