<h1><%= form_naming("admin.trains.form.title", @train) %></h1>

<%= form_with model: [:admin, @train], local: true do |f| %>
  <%= render "components/error_block", item: @train %>

  <%= render "components/table", caption: get_caption("trains", "form") do %>
    <div class="tutu-table__row tutu-table__row--body">
      <%= table_cell f.text_field(:number, class: "tutu-field") %>
      <%= render "components/form_select",
                 form: f,
                 attribute: :route_id,
                 model: Route,
                 value: :name %>
      <%= render "components/form_checkbox_cell",
                 form: f,
                 main_method: :carriage_ids,
                 collection: Carriage.all,
                 value_method: :id,
                 text_method: :number %>
    </div>
  <% end %>

  <%= render "components/buttons",
             f: f,
             form_button: form_naming("admin.trains.form.submit", @train) %>
<% end %>