<!DOCTYPE html>
<html>
  <%= render "layouts/head", title: "- #{t(".admin")}" %>

  <body>
    <% if notice %>
      <p id="notice" class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p id="alert" class="alert"><%= alert %></p>
    <% end %>

    <%= content_tag :div, class: "tutu-container" do %>
      <%= yield %>
    <% end %>

    <%= render "layouts/navbar" %>
    <%= render "layouts/footer" %>
  </body>
</html>
