<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <p id="notice" class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= content_tag :div, class: "tutu-container" do %>
      <%= yield %>
    <% end %>

    <%= render "layouts/navbar" %>
    <%= render "layouts/footer" %>
  </body>
</html>
