<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= content_tag :div, class: "tutu-container" do %>
      <%= yield %>
    <% end %>

    <%= content_tag :div, class: "" do %>
      <%= link_to 'На главную', welcome_index_path, class: "tutu-button" %>
    <% end %>

    <footer class="tutu-footer">
      <div>
        Это не настоящие расписания поездов!
        This is not a real train schedule!
      </div>
    </footer>
  </body>
</html>
