<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <%= render "layouts/flash_messages" %>

    <%= content_tag :div, class: "tutu-container" do %>
      <%= yield %>
    <% end %>

    <%= render "layouts/navbar" %>
    <%= render "layouts/footer" %>
  </body>
</html>
